<!-- movies.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search Results</title>
    <!-- Update the CSS link to use an absolute path -->
    <link rel="stylesheet" href="/css/movie.css">
</head>
<body>
    <%- include('nav.ejs') %>
    <h1>Movie Search Results</h1>
    <div class="moviebox">
        <% if (movies.length > 0) { %>
            <% movies.forEach(function(movie) { %>
                <div>
                    <% if (movie.poster_path) { %>
                        <a href="/movie/<%= movie.id %>">
                            <img src="<%= 'https://image.tmdb.org/t/p/w500' + movie.poster_path %>" alt="<%= 'Movie Poster - ' + movie.original_title %>">
                            <h2>Title: <%= movie.original_title %></h2>
                        </a>
                    <% } else { %>
                        <a href="/movie/<%= movie.id %>">
                            <img src="Empty movies.png" alt="<%= 'Movie Poster - ' + movie.original_title %>">
                            <h2>Title: <%= movie.original_title %></h2>
                        </a>
                    <% } %>
                </div>
            <% } ); %>
        </div>
        
            <% }; %>
        </div>
        <!-- Pagination -->
        <div id="nav-pages">
            <% if (prevPage) { %>
                <a href="<%= prevPage %>"><button>Previous</button></a>
            <% } else { %>
                <span>Previous</span>
            <% } %>
        
            Page <%= page %> of <%= totalPages %>
        
            <% if (nextPage) { %>
                <a href="<%= nextPage %>"><button>Next</button></a>
            <% } else { %>
                <span>Next</span>
            <% } %>
        </div>

        <% } else { %>
            <p>No movies found.</p>
        <% } %>
    </body>
    </html>
